<%= form_with(model: @user, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :username %>
    <%= form.text_field :username, 
          class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full #{'border-red-400 focus:outline-red-600' if @user.errors[:username].any?}" %>
    <% if @user.errors[:username].any? %>
      <div class="text-red-600 text-sm mt-1">
        <%= @user.errors.full_messages_for(:username).to_sentence %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.email_field :email, 
          class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full #{'border-red-400 focus:outline-red-600' if @user.errors[:email].any?}" %>
    <% if @user.errors[:email].any? %>
      <div class="text-red-600 text-sm mt-1">
        <%= @user.errors.full_messages_for(:email).to_sentence %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, 
          class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full #{'border-red-400 focus:outline-red-600' if @user.errors[:password].any?}" %>
    <% if @user.errors[:password].any? %>
      <div class="text-red-600 text-sm mt-1">
        <%= @user.errors.full_messages_for(:password).to_sentence %>
      </div>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit(@user.new_record? ? "Sign Up" : "Update Account", 
          class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer") %>
  </div>
<% end %>